bind = 127.0.0.1:{{ linx.port }}
sitename = "{{ linx.sitename }}"
siteurl = "http://{{ linx.domain }}"
filespath = "{{ linx.path.files }}"
metapath = "{{ linx.path.meta }}"
remoteuploads = true
fastcgi = true
realip = true
